[submodule "container-essentials"]
	path = container-essentials
	url = git@github.com:insper-embarcados/container-essentials.git
[submodule "container-essentials-infra-test-submodules"]
	path = container-essentials-infra-test-submodules
	url = git@github.com:insper-embarcados/container-essentials.git
